@import './components/button.scss';
@import './components/form.scss';

@import './components/layout';

@import './components/box';
@import './components/pixels.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  box-sizing: border-box;

  --font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding: 2rem 0;
}

.grid {
  max-width: 600px;
  margin: 0 auto;
}
